.git
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
.ipynb_checkpoints/
data/
logs/
dist/
build/


data/
models/
notebooks/
outputs/
plots/
results/
protected-dirt/

**/__pycache__
**/*.pyc
artifacts/   

# Python envs
.venv/
env/
.conda/


