# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS metadata
.DS_Store

# VSCode settings
.vscode/

# -------------------------------
# Artifacts folder (ignore all except .gitkeep)
# -------------------------------
artifacts/*
!artifacts/.gitkeep

# -------------------------------
# Build files
# -------------------------------
*.egg-info/
dist/
build/

# -------------------------------
# Logs and outputs
# -------------------------------
*.log
changes.txt
save_repo_to_zip.txt
# -------------------------------
# Data files
# -------------------------------
*.parquet
*.csv
*.pkl
*.joblib
payload.json
outputs/*
!outputs/.gitkeep
resp.json
# -------------------------------
# Scripts
# -------------------------------

scripts/*
!scripts/make_payload.py
!scripts/make_payload_deprecated.py
!scripts/train_xgb.py
!scripts/compare_api_vs_local.py
!scripts/gen_constraints.py
!scripts/compare_api_vs_local.py
!scripts/compare_xgb_vs_lstm.ipynb
!scripts/tabular_time_cyc_sweep.py
!scripts/tabular_momentum_sweep.py
!scripts/tabular_momentum_sweep_2.py
!scripts/tabular_adj_congestion_sweep.py
# -------------------------------
# Other
# -------------------------------
*.
exec "$SHELL"