# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS metadata
.DS_Store

# VSCode settings
.vscode/

# -------------------------------
# Artifacts folder (ignore all except .gitkeep)
# -------------------------------
artifacts/*
!artifacts/.gitkeep

# -------------------------------
# Build files
# -------------------------------
*.egg-info/
dist/
build/

# -------------------------------
# Logs and outputs
# -------------------------------
*.log
changes.txt
# -------------------------------
# Data files
# -------------------------------
*.parquet
*.csv
*.pkl
*.joblib

# -------------------------------
# Other
# -------------------------------
*.sqlite3